/* page wide */
html,
body {
  height: 100%;
  min-height: 100%;
  font-family: source-sans-pro, sans-serif;
  background-color: #EEE;
}


p { font-size: 16px;}
pre, blockquote { font-size: 12px;}

a { color: #1c485b;}
a:focus, a:hover { color: #5AA3B4; text-decoration: none; }
a:visited { color: #EEEEEE; }

@media screen and (min-width: 780px){

  .container {
    min-height: 100%;
    height: 100%;
    display: table;
  }
  .row {
    display: table-row;
  }
}

/* left column back ground image (hide the column on mobile) */
#vertical-menu {
  display:none;
}

#vertical-menu-mobile {
  color: #FFF;
  background-color: #1c485b;
  border: 1px solid #5AA3B4;
}

@media screen and (min-width: 780px) {

  #vertical-menu {
    background: url('/img/blackfriars.jpg');
    color: #FFF;
    padding: 20px;
    min-height: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: table-cell;
    float: none;
    vertical-align: top;
    min-width:300px;
  }

  #vertical-menu-mobile {
    display: none;
  }
}

/* advert - hide on mobile/low res */
#advert { display:none; }

@media screen and (min-width: 1024px){
  #advert { padding:10px; width:600px;margin-left:20px; }
}

/* tags */
.label-info {
  background-color: #1c485b;
}

/* left column - search, tags, flair */
.site-title a {
  color: white;
}

#taglist {
  margin-top: 330px;
}

#search input {
  color: #000;
  width: 100%;
  height: 30px;
  border: 1px solid #AAA;
  padding: 3px;
}

#stackoverflow-flair {
  margin-top: 50px; 
}

#stackoverflow-flair small {
  margin-bottom: 10px; 
  display: block;
}

#search {
  margin-top: 40px; 
}

#social-icons {
  margin-top: 40px; 
}

#social-icons a {
  padding-right: 10px; 
}

/* right column - the main content */
.main-container {
  min-height: 100%;
  height: 100%;
  background-color: #EEE;
  float: none;
}

@media screen and (min-width: 1024px){

  /* Use table cell for the column layout on desktop */
  .main-container {
    display: table-cell; 
  }
}

.more-posts {
  margin: 10px 10px;
}

/* Post area */
.post-container {
  background-color: #FFF;
  margin: 10px 0px;
  margin-bottom: 30px;
  border: 1px solid rgba(170,170,170, 0.5);
  border-radius: 2px;
}

.post-container .row {
  display: block;
}

.post {
  padding: 0px 10px 5px 10px;
}

.post p a, .post li a {
  text-decoration: underline;
}

.post h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-metadata {
  min-height: 22px;
  padding: 0px 10px;
  font-size: 12px;
}

@media screen and (min-width: 768px){

  .post-metadata .date {
    float: right;
    margin-top: 10px;
  }
}

.post-metadata .tags {
  padding: 10px 0px;
  margin: 0px -5px;
}

.post-metadata .tags .label {
  margin-left: 5px;
  font-size: 9pt;
}

.post-metadata .tags a {
  color: #FFF;
}

.post-metadata .date {
  color: #AAA;
}

/* disqus */
#disqus_thread
{
  padding: 30px 10px 10px 10px;
  border-top: 1px solid rgba(170,170,170, 0.5);
}

/* archive */
.archive-item p {
  font-size: 12px;
}

.archive-date {
  color: #AAA;
  font-size: 12px;
}