---
title: Latest posts
layout: default
---

<div class="post-container">
  {% for post in site.posts limit:10 %}
  <div class="post">
      {% if forloop.first %}
      <h1 id="recent-posts">Recent Posts</h1>
      <hr />
    {% endif %}
      <article class="recent-post">
        <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
        </a>
        <div class="date">{{ post.date | date: "%A %B %-d, %Y" }}</div>
        <div class="post-excerpt">
        {% if post.shortpost %}
        {{ post.content }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
        </div>
      </article>
  </div>
  {% endfor %}
</div>

<div class="row pull-right archive">
  <a href="/tags.html" class="btn btn-primary">Tags</a>
</div>
<div class="row pull-right archive">
  <a href="/archive.html" class="btn btn-primary">Archive</a>
</div>