---
title: Latest posts
layout: default
---

<div class="row">
  {% for post in site.posts limit:9 %}
  {% if post.frontpage %}
  {% capture image_date %}{{ post.date | date: "%-d-%m-%Y" }}{% endcapture %}
  <div class="col-4 index-item">
    <div class="card h-100">
      <div class="card-body">
        <div class="img-container">
          <a href="{{ post.url }}"><img class="img-fluid" src="img/recent-posts/{{image_date}}.jpg" /></a>
        </div>
        <a href="{{ post.url }}" class="card-title">
          <h3>{{ post.title }}</h3>
        </a>
        <div class="date">{{ post.date | date: "%A %B %-d, %Y" }}</div>
        <div class="post-excerpt card-text">
          {{ post.excerpt }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row">
  <div class="w-25">
    <a href="/tags.html" class="btn btn-primary">Tags</a>
    <a href="/archive.html" class="btn btn-primary">Archive</a>
  </div>
</div>

<br />