// site wide
html,
body {
  height: 100%;
  min-height: 100%;
  font-family: "source-sans-pro", sans-serif;
  background-color: #e8e8e8;
}

h1,h2,h3,h4,h5,p { font-family: "source-sans-pro", sans-serif; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

p { font-size: 16px;}
pre, blockquote { font-size: 12px; }
pre { background-color: #044c70; color: #fff; border-radius: 0px; border: 1px solid black;}

a { color: #1c485b;}
a:focus, a:hover { color: #5AA3B4; text-decoration: none; }

@media screen and (min-width: 780px){

  .container {
    min-height: 100%;
    height: 100%;
    display: table;
  }
  .row {
    display: table-row;
  }
}

// left column back ground image (hide the column on mobile)
#vertical-menu {
  display:none;
}

#vertical-menu-mobile {
  color: #FFF;
  background-color: #1c485b;
  border: 1px solid #5AA3B4;
}

@media screen and (min-width: 780px) {

  #vertical-menu {
    background: url('/img/blackfriars.jpg');
    color: #FFF;
    padding: 20px;
    min-height: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    display: table-cell;
    float: none;
    vertical-align: top;
    min-width:300px;
  }

  #vertical-menu-mobile {
    display: none;
  }
}

// advert - hide on mobile/low res
#advert { display:none; }

@media screen and (min-width: 1024px){
  #advert { padding:10px; width:600px;margin-left:20px; }
}

// tags
.label-info {
  background-color: #1c485b;
}

// left column - search, tags, flair
.site-title a {
  color: white;
}

#taglist {
  margin-top: 330px;
}

#search input {
  color: #000;
  width: 100%;
  height: 30px;
  border: 1px solid #AAA;
  padding: 3px;
}

#stackoverflow-flair {
  margin-top: 50px; 
}

#stackoverflow-flair small {
  margin-bottom: 10px; 
  display: block;
}

#search {
  margin-top: 40px; 
}

#social-icons {
  margin-top: 40px; 
}

#social-icons a {
  padding-right: 10px; 
}

// right column - the main content
.main-container {
  min-height: 100%;
  height: 100%;
  background-color: #e8e8e8;
  float: none;
}

@media screen and (min-width: 1024px){

  // Use table cell for the column layout on desktop
  .main-container {
    display: table-cell; 
  }
}