// 
// site wide
// 
html,
body {
  height: 100%;
  min-height: 100%;
  font-family: gentium-basic, serif;
  background-color: #e8e8e8;
}

h1,h2,h3,h4,h5 { font-family: istok-web, sans-serif; }
p { font-family: gentium-basic, serif; }

h1 {
  font-size: 42px;
  color: rgb(0, 103, 151);
  margin-left: -3px;
}
h2 { color: rgb(0, 103, 151); }

p { font-size: 21px;}
pre, blockquote { font-size: 18px; }
pre
{
    border: 1px solid #dadada;
    margin: 30px 0px;
    padding: 20px;
    background-color: #f9f9f9;
}

a { color: #1c485b;}
a:focus, a:hover { color: #5AA3B4; text-decoration: none; }

p.more-link { 
  margin-top:10px;

  a {
    text-decoration:none !important; 
  }
}

#top-bar {
  position: static;
  background-color: #d2d2d2;
  padding: 40px;
  border-bottom: 1px solid #6f6f6f;
  color: white;
  background-image: url('/img/top-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  a { color: white; }

  #title-container {
  }

  #title-link {
  }

  #title-icons {
    text-align: right;
  }
}

// shared between index and post
.bordered-container {
  background-color: #FFF;
  padding: 20px 40px;
  margin: 10px 0px;
  margin-bottom: 30px;
  border: 1px solid rgba(170,170,170, 0.5);
  border-radius: 2px;
  box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

//
// posts
//

.date { font-size: 0.8em; color: rgb(197, 197, 197); }
.tags .badge { margin-right: 5px; }
.tags .badge a { color: white; }

// advert - hide on mobile/low res
#advert { display:none; }
@media screen and (min-width: 1024px){
  #advert { padding:10px; width:600px;margin-left:20px; }
}

#disqus_thread
{
  margin-top: 50px;
  border-top: 1px solid rgba(170,170,170, 0.5);
}

//
// index.html
//
.content-container { margin-top: 20px; }
.index-item { margin-bottom: 20px; }
.index-item .img-container { min-height: 200px;max-height:200px; }
.index-item .img-container img { border-radius: 5px; }

//
// tags.html
//
.tag-row { margin-top:30px; }
#search { padding: 20px 0px; }
#search input {
    color: #000;
    height: 30px;
    border: 1px solid #AAA;
    padding: 3px;
    width:100%;
}

@media screen and (min-width: 780px)
{
    #search input { width: 50%; }
}
