.content-container { margin-top: 20px; }

.index-item { margin-bottom: 20px; }
.index-item .img-container { min-height: 200px;max-height:200px; }

.post {
  padding: 0px 10px 5px 10px;
}

.post p a, .post li a {
  text-decoration: underline;
}

.post h1 {
  color: #d63232
}

.post h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.post h3 {
  margin-top: 35px;
  margin-bottom: 7px;
}

.post-metadata {
  min-height: 22px;
  padding: 0px 10px;
  font-size: 12px;
}

@media screen and (min-width: 768px){

  .post-metadata .date {
    float: right;
    margin-top: 10px;
  }
}

.post-metadata .tags {
  padding: 10px 0px;
  margin: 0px -5px;
}

.post-metadata .tags .label {
  margin-left: 5px;
  font-size: 9pt;
}

.post-metadata .tags a {
  color: #FFF;
}

.post .date {
  color: rgba(187,187,187,0.8);
}


// disqus
#disqus_thread
{
  padding: 30px 10px 10px 10px;
  border-top: 1px solid rgba(170,170,170, 0.5);
}
