---
layout: default
---

<article class="bordered-container">
    <div class="row">
        <div class="date text-left">
                Posted on {{ page.date | date: "%A %B %-d, %Y" }}
        </div>
        <div class="col">
            <div class="tags text-right">
            {% for tag in page.tags %}
                <span class="badge badge-secondary">
                <a href="/tags.html#{{ tag | xml_escape }}">{{ tag }}</a>
                </span>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
         <div class="col">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </div>

    <!-- Disqus -->
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "";
            this.page.identifier = "{{ post.dsq_thread_id }}";
        };
        
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            
            s.src = '//yetanotherchris.disqus.com/embed.js';
            
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
